<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>selectedItem Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-5>
        <img  *ngIf="item" src="{{item.picture}}">
      </ion-col>
      <ion-col col-12 col-md-6>
        <h3 *ngIf="item">
          {{item.name}}
        </h3>
        <ul  *ngIf="selectedItem">
          <li>Age: {{item.birth_year}}</li>
          <li>Gender: {{item.gender}}</li>
          <li>Species: {{item.species}}</li>
          <li>Homeworld: {{item.homeworld}}</li>
          <li>Mass: {{selectedItem.mass}}</li>
          <li>Eye color: {{selectedItem.eye_color}}</li>
          <li>Hair color: {{selectedItem.hair_color}}</li>
          <li>Skin color: {{selectedItem.skin_color}}</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
